<section id="artistPopup" class="divPopup">
  <ul id="artistFG" class="divFG">
    <div class="manageDiv">
      <button onclick="enableArtistsDiv(false)" id="artistClose" class="divClose"><i class="fa-solid fa-xmark"></i></button>
      <button onclick="syncArtists()" id="artistSync"><i class="fa-solid fa-rotate"></i> Sync with Spotify</button>
    </div>
    <li id="artistsTopContent" class="divTopContent">
      <div class="manageDiv" id="artistAdd">
        <input id="artistAddInput" class="divAddInput" type="text" placeholder="Search for an artist or enter direct link" >
        <!--<button onclick="addArtist()" id="artistAddBtn">Add</button>-->
      </div>
    </li>
    <div id="artistList">

    </div>
  </ul>
</section>
