<section id="playlistPopup" class="divPopup">
  <ul id="playlistFG" class="divFG">
    <div class="manageDiv">
      <button onclick="enablePlaylistDiv(false)" id="playlistClose" class="divClose"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <li id="playlistTopContent" class="divTopContent">
      <div class="manageDiv" id="playlistAdd">
        <input id="playlistAddInput" class="divAddInput" type="text" placeholder="Search for a playlist" >
        <!--<button onclick="addArtist()" id="artistAddBtn">Add</button>-->
      </div>
    </li>
    <div id="playlistList">

    </div>
  </ul>
</section>
