<section id="authorize">
  <p id="welcomeTitle">Spotify Release Tracker</p>
  <p id="description">Sign in with your Spotify account to get a list of new releases for each artist you follow</p>
  <button id="authbutton" onclick="requestAuthorization()"><i class="fa-brands fa-spotify"></i> Login with Spotify</button>
  <div id="previewDiv">
    <img src="assets/examples/example1.png" alt="">
    <img src="assets/examples/example2.png" alt="">
    <img src="assets/examples/example3_.png" alt="">
    <img src="assets/examples/example4.png" alt="">
  </div>
  <p id="footer">We are not related to Spotify AB or any of it´s partners in any way. &nbsp;&#8226;&nbsp;
    Made by <a href="https://noahschuette.github.io">Noah</a> <br>
    This page caches your Spotify user information to keep you logged in and requests a list of the artists you're following.
    The page can also access your playlists to save new releases to them.
  </p>
</section>
