<section id="app">
  <p id="title">Latest Releases</p>
  <p id="search_query_info">Searching for artists and albums...</p>
  <div id="filter" class="filter">
    <button id="albumsbtn" class="inactiveBtn" onclick="toggleAlbumFilter()">Albums</button>
    <button id="singlebtn" class="inactiveBtn" onclick="toggleSingleFilter(false)">Singles</button>
    <!--<button id="featureBtn" class="inactiveBtn" onclick="toggleFeatures()">Hide Features</button>-->
    <button id="artistNewBtn" class="inactiveBtn" onclick="enableArtistsDiv(true)">Your Artists</button>
    <button id="playlistNewBtn" class="inactiveBtn" onclick="enablePlaylistDiv(true)">Release-Playlists</button>
  </div>
  <div id="spinner">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  </div>
  <div id="releases">
    <p id="noartists">No releases found for your selected time span, artists and filters.<br>Try to add more artists in the "Your Artists" section</p>
    <p id="emptyfilter">No recent releases found for your artists. Try another filter.</p>
  </div>
</section>
